[submodule "Car_price"]
	path = Car_price
	url = https://github.com/Shahbazi-Amir/Car_price.git
[submodule "diabetes_prediction_LR"]
	path = diabetes_prediction_LR
	url = https://github.com/Shahbazi-Amir/diabetes_prediction_LR.git
[submodule "Customer_Segmentation_KMeans"]
	path = Customer_Segmentation_KMeans
	url = https://github.com/Shahbazi-Amir/Customer_Segmentation_KMeans.git
[submodule "Customer-Loyalty-Prediction-Using-KNN"]
	path = Customer-Loyalty-Prediction-Using-KNN
	url = https://github.com/Shahbazi-Amir/Customer-Loyalty-Prediction-Using-KNN.git
[submodule "House_Price_Prediction_Linear_Regression"]
	path = House_Price_Prediction_Linear_Regression
	url = https://github.com/Shahbazi-Amir/House_Price_Prediction_Linear_Regression.git
[submodule "Contract-Random-Forest"]
	path = Contract-Random-Forest
	url = https://github.com/Shahbazi-Amir/Contract-Random-Forest.git
[submodule "Classification-with-Ensemble-Methods"]
	path = Classification-with-Ensemble-Methods
	url = https://github.com/Shahbazi-Amir/Classification-with-Ensemble-Methods.git
[submodule "real_estate_ml_analysis_divar"]
	path = real_estate_ml_analysis_divar
	url = https://github.com/Shahbazi-Amir/real_estate_ml_analysis_divar.git
[submodule "Football_Player-_prediction"]
	path = Football_Player-_prediction
	url = https://github.com/Shahbazi-Amir/Football_Player-_prediction.git
[submodule "Prompt-Quality-Evaluator-using-ML"]
	path = Prompt-Quality-Evaluator-using-ML
	url = https://github.com/Shahbazi-Amir/Prompt-Quality-Evaluator-using-ML.git
[submodule "Student_Performance_Prediction"]
	path = Student_Performance_Prediction
	url = https://github.com/Shahbazi-Amir/Student_Performance_Prediction.git
[submodule "smartlead_lead_scoring"]
	path = smartlead_lead_scoring
	url = https://github.com/Shahbazi-Amir/smartlead_lead_scoring.git
[submodule "sentiment_analysis"]
	path = sentiment_analysis
	url = https://github.com/Shahbazi-Amir/sentiment_analysis.git
